.Wrapper{
    float: left;
    border: 2px solid #efefef;
    width: 20%;
    height: 100%;
    background: #fafafa;
}

.Title{
    margin: 15px 10px;
    text-align: center;
    height: 5%;
}

.Home{
    font-family: "微软雅黑 Light";
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    line-height: 40px;
    color: black;
}

.Folder{
    margin-top: 20px;
    height: 88%;
    overflow-y: auto;
    overflow-x: auto;
}

.Hr{
    color: darkgrey;
    margin: 0 10px;
}