.Wrapper{
    position: absolute;
    right: 0;
    height: 100%;
    background: #fff;
    border: 2px solid #efefef;
    width: 79%;
}

.Title{
    height: 70px;
    background: #fafafa;
    border-bottom: 1px solid #efefef;
}

.Hr{
    color: #e1e4e6;
    margin: 0 10px;
}

#SearchInput{
    width: 40%;
    height: 40px;
    margin-left: 200px;
    margin-top: 14px;
    padding: 1px 0;
}

#SearchBtn{
    position: absolute;
    height: 35px;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 10px;
}

.More{
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 15px;
    margin-right: 100px;
}

.Content{
    background: #fff;
    position: relative;
    width: 100%;
}

.FolderName{
    margin-bottom: 0;
    margin-left: 50px;
    line-height: 40px;
    width: 50%;
    float: left;
    font-size: 20px;
}

.UploadBtn{
    float: right;
    font-size: 16px;
    height: 34px;
    margin-top: 3px;
    vertical-align: middle;
    right: 240px;
}

.MkdirBtn{
    float: right;
    font-size: 16px;
    height: 34px;
    margin-top: 3px;
    vertical-align: middle;
    right: 260px;
}

.TableFont{
    font-family: 微软雅黑;
    font-size: 16px;
}

.AddFile{
    border: 1px dashed darkgray;
    height: 100px;
    width: 400px;
    line-height: 100px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle !important;
    margin-left: 35px;
    cursor: pointer;
}

.UploadModal{

}

.UploadPath{
    margin-top: 20px;
    margin-left: 30px;
}

.preview{
    position: relative;
    width: 250px;
    margin: 0 auto;
    top: -100px;
    background: #000;
}

.preview_hidden{
    display: none;
}

.FileItem{
    width: 400px;
    height: 30px;
    margin-left: 35px;
    line-height: 30px;
}
.FileItem:hover{
    background: #f5f5f5;
    border-radius: 3px;
}

.FileItemDelete{
    cursor: pointer;
    color: darkgray;
    height: 30px;
}

.FileItemDelete:hover{
    color: gray;
}