.Wrapper{
    position: absolute;
    right: 0;
    height: 100%;
    background: #fff;
    border: 2px solid #efefef;
    width: 79%;
}

.Title{
    height: 70px;
    background: #fafafa;
    border-bottom: 1px solid #efefef;
}

.Hr{
    color: #e1e4e6;
    margin: 0 10px;
}

#SearchInput{
    width: 40%;
    height: 40px;
    margin-left: 100px;
    margin-top: 15px;
}

.SearchBtn{
    position: absolute;
    height: 38px;
    text-align: center;
    margin-left: 10px;
    margin-top: 16px;
    border-radius: 5px;
}

.More{
    float: right;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 15px;
    margin-right: 100px;
}

.Content{
    background: #fff;
    position: relative;
    width: 100%;
}

.FolderName{
    margin-bottom: 0;
    margin-left: 50px;
    line-height: 40px;
    width: 50%;
    float: left;
    font-size: 20px;
}

.UploadBtn{
    float: right;
    font-size: 16px;
    height: 34px;
    margin-top: 3px;
    vertical-align: middle;
    right: 240px;
}

.TableFont{
    font-family: 微软雅黑;
    font-size: 16px;
}

.AddFile{
    border: 2px dashed #efefef;
    height: 100px;
    width: 300%;
    line-height: 100px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle !important;
}